.parent {
  width:10em;
  height:10em;
  background-image: url('http://lorempixel.com/400/200/');
  margin-bottom: 1em;
}

.child {
  position:absole;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);
}

.exemple2 {
  margin-top:2em;
  width:10em;
  height:10em;
  background-image: url('http://lorempixel.com/400/200/');
  filter: grayscale(100%);
}
